---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center">
  <img id="logo" src="https://i.imgur.com/le0aT56.png" style="width: 50px; margin-right: 8px;">
  <span class="self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</span>